@model  IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Hello</h2>

<div>
    <ul>
        @foreach (var restaurant in Model)
        {
            <li>@restaurant.Name</li>
        }
    </ul>
</div>



