@model OdeToFood.Web.Models.RestaurantViewModel
@{
    ViewBag.Title = "RestaurantView";
}

<div>
    @Model.Restaurants.Count();
</div>

<ul>
    @foreach (var restaurant in Model.Restaurants)
    {
        <li>@restaurant.Name</li>
    }
</ul>



